
.about__container {
    margin-top: 1053px;
    height: 1190px;
    background-color: $quartenary-color;
    margin-left: auto;
    margin-right: auto;
}  

//Titulos de "about"

.about__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 534px;
    height: 116px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.about__titles__subtitle {
    width: 1000px;
    height: 34px;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $tertiary-color;
}

.about__titles__title {
    width: 1000px;
    height: 66px;
    margin-top: 8px;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $primary-color
}

//About how it´s made

.about__howitsmade {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 521px;
}

.about__howitsmade__leche {
    position: absolute; 
    z-index: 100;
}

.about__howitsmade__vaca {
    margin-left: 16px;
    z-index: 200;
}

.about__howitsmade__texts__section {
    position: relative;
    width: 600px;
    height: 400px;
    z-index: 200;
    text-align: start;
}

.about__howitsmade__text1 {
    position: relative;
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: $color-text-primary;
    top: 52px;
    left: 99px;
    margin: 0;
}

.about__howitsmade__text2 {
    position: relative;
    margin-top: 32px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: $color-text-secondary;
    top: 83px;
    left: 99px;
    margin: 0;
}

.about__howitsmade__text3 {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: $color-text-secondary;
    height: 30px;
    top: 117px;
    left: 99px;
    margin: 0;
}

//About how it´s made button

.about__howitsmade__button{
    position: relative;
    width: 176px;
    height: 44px;
    margin-top: 158px;
    margin-left: 99px;
    background-color: $secondary-color;
    color: $primary-color;
    border-radius: 22px;
    border-style: none;
    z-index: 200;
}

//Advantajes

.advantajes__container {
    display: flex;
    justify-content: center;
    height: 517px;
    margin-top: 30px;
}

.advantajes__container__item {
    display: flex;
    justify-content: center;
    width: 1100px;
}

.advantajes__container__item1 {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    width: 288px;
    height: 270px;
}

.advantajes__container__item2 {
    display: flex;
    flex-direction: column;
    margin-left: 115px;
    width: 288px;
    height: 270px;
}

.advantajes__container__item3 {
    display: flex;
    flex-direction: column;
    margin-left: 115px;
    width: 288px;
    height: 270px;
}

.advantajes__container__item__svg {
    width: 40px;
    height: 60px;
    margin-left: 16px;
    margin-bottom: 40px;
    
}

.advantajes__container__item__svg__icon1 {
    width: 40px;
    fill: $tertiary-color; 
}

.advantajes__container__item__svg__icon2 {
    width: 60px;
    fill: $tertiary-color;
}

.advantajes__container__item__svg__icon3 {
    width: 55px;
    fill: $tertiary-color;
}




.advantajes__container__item__text {
    width: 98px;
    height: 65px;
    margin-top: 40px;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 58px;
    line-height: 66px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $primary-color;
}

.advantajes__container__item__text2 {
    width: 288px;
    height: 52px;
    margin-top: 8px;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: $color-text-primary;
}