.footer__container{
    background-color: $quartenary-color;
}

.contacts{
    
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    

    &__card{
        background-color: $secondary-color;
        box-sizing: border-box;
        padding: 40px;
        width: 368px;
        height: 538px;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;

        &:hover{
            box-shadow: 0px 8px 30px  rgba(212, 20, 67, 0.5);
        }
        
    }

    &__title{
        box-sizing: border-box;
        padding: 4px 15px 4px 15px;
        width: 75.1px;
        height: 28px;
        background:#F0D1A5;
        border-radius: 6px;

        color:$secondary-color;
        font-family: $font-family-primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.04em;
}

    &__title2{
        box-sizing: border-box;
        padding: 4px 15px 4px 15px;
        width: 75.1px;
        height: 28px;
        background:#C2E297;
        border-radius: 6px;

        color:$secondary-color;
        font-family: $font-family-primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.04em;
}

    }

.contacts__city{
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9; 
    letter-spacing: 0.04em;
    color: $color-text-primary;
    
}

.contacts__description{
    position: relative;
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: $color-text-secondary;
}

.contacts__line{
    position: absolute;
    display: inline;
    margin-bottom: 20px;
}

.contacts__days{
    display: block;
    padding-top: 20px;
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: $color-text-primary;
}

.contacts__hours{
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    color: $tertiary-color;
    
}

.contacts__link{
    position: relative;
    padding-top: 40px;

    &1{
        display: block;
        font-family: $font-family-primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        color: $color-text-secondary;
        text-decoration: none;
    
        &:hover{
            color: $primary-color;
            cursor: pointer;
        }
    }
    
}
