.contacts{
    background-color: $secondary-color;
    display: flex;
    justify-content: space-evenly;

    &__card{
        box-sizing: border-box;
        padding: 40px;
        width: 368px;
        height: 538px;
        box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
        border-radius: 24px;
}

    &__title{
        box-sizing: border-box;
        padding: 4px 15px 4px 15px;
        width: 75.1px;
        height: 28px;
        background:#F0D1A5;
        border-radius: 6px;

        color:$secondary-color;
        font-family: $font-family-primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.04em;
}

    &__title2{
        box-sizing: border-box;
        padding: 4px 15px 4px 15px;
        width: 75.1px;
        height: 28px;
        background:#C2E297;
        border-radius: 6px;

        color:$secondary-color;
        font-family: $font-family-primary;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.9;
        text-align: center;
        letter-spacing: 0.04em;
}

    }

.contacts__city{
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9; 
    letter-spacing: 0.04em;
    color: $color-text-primary;
    
}

.contacts__description{
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;

    color: $color-text-secondary;
}

.contacts__days{
    display: block;
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.04em;
    color: $color-text-primary;

}

.contacts__hours{
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    color: $tertiary-color;
    
}

.contacts__link{
    
    font-family: $font-family-primary;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.9;
    color: $color-text-secondary;
    text-decoration: none;
}

.footer{
    background-color: $quartenary-color;

    &2{
        display: flex;
        justify-content: space-between;
    }
}

.footer__button{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    
    &1{
        background: $secondary-color;
        border: none;
        margin-right: 12px;
        width: 198px;
        height: 44px;
        border-radius: 22px;
        
        font-family: $font-family-primary;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $primary-color;
        padding-left: 35px;
        
        &:hover{
            background: $primary-color;
            color: $secondary-color;
            cursor: pointer;
        }
    }

    &2{
        background: $secondary-color;
        border: none;
        width: 168px;
        height: 44px;
        border-radius: 22px;
        
        font-family: $font-family-primary;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;
        color: $primary-color;
        padding-left: 35px;
        
        &:hover{
            background: $primary-color;
            color: $secondary-color;
            cursor: pointer;
        }
    }
}

.footer__slogan{
    margin-top: 120px;

    &1{
        margin-bottom: 16px;
        display: block;
        font-family: $font-family-secondary;
        font-weight: 400;
        font-size: 30px;
        line-height: 1.1;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: $tertiary-color;
    }

    &2{
        
        font-family: $font-family-secondary;
        font-weight: 400;
        font-size: 58px;
        line-height: 1.1;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        color: $primary-color;
    }
}

.footer__contact{
    display: block;
    justify-content: flex-end;
    margin-top: 120px;

    &-title{
        font-family: $font-family-primary;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.04em;
        color: $color-text-primary;
    }

    &-number{
        font-family: $font-family-primary;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9;
        letter-spacing: 0.02em;
        color: $primary-color;
        text-decoration: none;

    }
}
.footer__socialmedia-icon{
        box-sizing: border-box;
        margin-right: 30px;
        margin-bottom: 40px;
        padding: 1px;
        width: 34px;
        height: 34px;
        background:$tertiary-color;
        border-radius: 30px;
        fill: $secondary-color;
        cursor: pointer;
}

.footer__copyright{
    display: block;
    align-items: center;
    font-family: $font-family-primary;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: 0.02em;
    color: $color-text-secondary;
}