$primary-color: #D41443;
$secondary-color: #FFFFFF;
$tertiary-color: #FFA5BA;
$quartenary-color: #FFF5F6;
$font-family-primary:'DM Sans', sans-serif;
$font-family-secondary:'Titan One', sans-serif;
$color-text-primary:#000000;
$color-text-secondary:#907E82;